@font-face {
    font-family: 'RenaultLife_Regular';
    src: url('RenaultLife-Regular.otf') format('opentype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'RenaultLife_Bold';
    src: url('RenaultLife-Bold.otf') format('opentype');
    font-weight: 700;
  }